
    <!-- REVOLUTION SLIDER -->
    <div class="fullwidthbanner-container roundedcorners">
        <div class="fullwidthbanner">
            <ul>

                <!-- SLIDE 1 -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">

                    <!-- COVER IMAGE -->
                    <img src="~/images/Slider/VBS.jpg" alt="Vacation Bible School 2016" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption lightgrey_divider skewfromrightshort customout"
                         data-x="85"
                         data-y="224"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="off"
                         style="z-index: 2">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption medium_bg_darkblue skewfromleftshort customout"
                         data-x="right" data-hoffset="-320"
                         data-y="bottom" data-voffset="-200"
                         data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="800"
                         data-start="700"
                         data-easing="Power4.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         style="z-index: 3">
                        WHEN: JUNE 20-24<br />
                        WHERE: MCUMC FELLOWSHIP HALL<br />
                        TIME: 5:30 - 8:00pm<br />
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption customin customout"
                         data-x="right" data-hoffset="-100"
                         data-y="bottom" data-voffset="0"
                         data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1500"
                         data-start="700"
                         data-easing="Elastic.easeInOut"
                         data-endspeed="500"
                         data-endeasing="Power1.easeIn"
                         style="z-index: 3">
                        <img src="~/assets/images/demo/revolution_slider/slider_run_blue.png" alt=""> <!-- girl -->
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption large_bold_grey skewfromrightshort customout"
                         data-x="80"
                         data-y="66"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="800"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="off"
                         style="z-index: 4">
                        Vacation Bible School
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption large_bold_grey skewfromleftshort customout"
                         data-x="180"
                         data-y="122"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="300"
                         data-start="1100"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="off"
                         style="z-index: 7">
                        Surf Shack
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption medium_bg_darkblue skewfromleftshort customout"
                         data-x="470" data-hoffset="-90"
                         data-y="410"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1650"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="off"
                         style="z-index: 11">
                        SUZIE REED
                    </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption medium_bg_orange skewfromleftshort customout"
                         data-x="610" data-hoffset="-90"
                         data-y="410"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="2300"
                         data-easing="Back.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="off"
                         style="z-index: 21">
                        843-761-8547
                    </div>

                </li>

                <!-- SLIDE 2 -->
                <li data-transition="3dcurtain-vertical" data-slotamount="14" data-masterspeed="300" data-delay="10000">

                    <!-- COVER IMAGE -->
                    <img src="~/assets/images/demo/revolution_slider/sliderbg.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                    <div class="tp-caption lft boxshadow"
                         data-x="70"
                         data-y="20"
                         data-speed="900"
                         data-start="500"
                         data-easing="easeOutBack">
                        <img src="~/images/Slider/Anchored-small.jpg" alt="MCUMC - Anchored Chrildrens Summer Ministry" />
                    </div>

                    <div class="tp-caption sft modern_big_bluebg "
                         data-x="650"
                         data-y="70"
                         data-speed="300"
                         data-start="1200"
                         data-easing="easeOutExpo">
                        ANCHORED CHILDREN'S MINISTRY
                    </div>

                    <div class="tp-caption sft medium_bold_grey"
                         data-x="650"
                         data-y="124"
                         data-speed="300"
                         data-start="1300"
                         data-easing="easeOutExpo">
                        Rising K5 thru 5th Grade Students
                    </div>

                    <div class="tp-caption medium_bg_asbestos skewfromleftshort"
                         data-x="500"
                         data-y="210"
                         data-speed="300"
                         data-start="1400"
                         data-easing="easeOutExpo">
                        June 6 &nbsp;- Velocity Sports 9:00-1:00 Includes Lunch ($16)<br />
                        June 13 - Daniel Island Park 9:00-1:00 Includes Lunch ($12)<br />
                        June 20 - SC Aquarium 9:00‐1:00 Includes lunch ($20)<br />
                        June 27 - Bananas & Brushes in FH; Frisbee in field! 9:00‐1:00 Includes lunch ($12)
                    </div>

                    <div class="tp-caption lfb medium_bg_darkblue"
                         data-x="710"
                         data-y="390"
                         data-speed="300"
                         data-start="1600"
                         data-easing="easeOutExpo">
                        Brittne Guerry
                    </div>

                    <div class="tp-caption lfb medium_bg_orange"
                         data-x="890"
                         data-y="390"
                         data-speed="300"
                         data-start="1600"
                         data-easing="easeOutExpo">
                        843-761-8547
                    </div>

                </li>

                <!-- SLIDE 3 -->
                <li data-transition="incube-horizontal" data-slotamount="5" data-masterspeed="700">

                    <!-- COVER IMAGE -->
                    <img src="~/assets/images/demo/home/church_1.jpg" alt="MCUMC Worship Series" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <div class="tp-caption large_text sft"
                         data-x="center"
                         data-y="80"
                         data-speed="300"
                         data-start="1000"
                         data-endspeed="500"
                         data-easing="easeOutBack">
                        <h2 class="text-mcumc">Moncks Corner United Methodist Church</h2>
                    </div>

                    <div class="tp-caption large_bold_grey sft"
                         data-x="center"
                         data-y="200"
                         data-speed="300"
                         data-start="1700"
                         data-endspeed="500"
                         data-easing="easeOutBack">
                        <h3>WORSHIP SERIES</h3>
                    </div>

                    <div class="tp-caption large_text sft"
                         data-x="center"
                         data-y="360"
                         data-customin="x:-150;y:-280;z:0;rotationX:-140;rotationY:-280;rotationZ:-220;scaleX:1.5;scaleY:0;skewX:57;skewY:60;opacity:0;transformPerspective:600;transformOrigin:120% 190%;"
                         data-customout="x:-450;y:-430;z:-30;rotationX:90;rotationY:-290;rotationZ:-20;scaleX:1;scaleY:2.8;skewX:59;skewY:4;opacity:0;transformPerspective:600;transformOrigin:70% 0%;"
                         data-speed="1500"
                         data-endspeed="500"
                         data-start="2700"
                         data-endeasing="Bounce.easeOut"
                         data-easing="Back.easeInOut">
                         ELIJAH - Prophet of Light in a Kingdom of Darkness
                    </div>

                </li>

            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
    <!-- /REVOLUTION SLIDER -->

    <section class="container text-center">
        <div>
            <h1 class="text-center text-mcumc">
                Moncks Corner United Methodist Church<strong></strong>
            </h1>
            <span class="lead">Proclaiming that Jesus Christ is Lord to our community and to the <br />
                               world through worship, mission, discipleship, and service to others.</span>
        </div>
    </section>

    <div class="container">
        <hr class="half-margins" /><!-- hr line -->
    </div>
    
<!-- PARALLAX -->
<section class="parallax delayed" data-stellar-background-ratio="0.7" style="background-image: url('/assets/images/demo/clouds.jpg');">
    @*<span class="overlay"></span>*@

    <div class="container">
        <div class="row">
            <!-- content -->
            <div class="col-md-12 animation_fade_in">
                <h1 class="text-center"><strong>@Html.ActionLink("EVENTS", "Events", "Home")</strong></h1>
            </div>
        </div>
    </div>
</section>
<!-- /PARALLAX -->

<!-- PARALLAX -->
<section class="parallax delayed" data-stellar-background-ratio="0.7" style="background-image: url('/assets/images/demo/home/church_1.jpg');">
    @*<span class="overlay"></span>*@

    <div class="container">
        <div class="row">
            <!-- content -->
            <div class="col-md-12 animation_fade_in">
                <h1 class="text-center"><strong>@Html.ActionLink("WORSHIP SERIES", "Worship", "Home")</strong></h1>
            </div>
        </div>
    </div>
</section>
<!-- /PARALLAX -->

<!-- PARALLAX -->
<section class="parallax delayed" data-stellar-background-ratio="0.7" style="background-image: url('/images/youth/youth.jpg');">
    @*<span class="overlay"></span>*@

    <div class="container">
        <div class="row">
            <!-- content -->
            <a href="/home/Youth">
                <div class="col-md-12 animation_fade_in">
                    <h1 class="text-center"><strong>YOUTH MINISTRIES</strong></h1>
                </div>
            </a>
        </div>
    </div>
</section>
<!-- /PARALLAX -->

<div class="divider">
    <!-- divider -->
    <i class="fa fa-leaf"></i>
</div>
