    <!-- PAGE TITLE -->
<header id="page-title">
    <!-- style="background-image:url('assets/images/demo/parallax_bg.jpg')" -->
    <!--
        Enable only if bright background image used
        <span class="overlay"></span>
    -->

    <div class="container">
        <h1>Worship Series</h1>
    </div>
</header>
<section class="container">
    <div class="fullscreen-container">
        <img class="img-responsive" src="~/images/worship/Elijah.jpg" />
    </div>
    <div class="worship">
        <h1>Prophet of Light in a Kingdom of Darkness</h1>

        <!-- SCRIPTURE and SERMONS-->
        <div class="row">
            <div class="col-md-3">
                <div class="featured-box nobg border-only">
                    <div class="box-content">
                        <i class="fa fa-bookmark"></i>
                        <h4>June 5</h4>
                        <h4><strong>I Kings 16:34-17:6</strong></h4>
                        <p>“God’s Response to Evil”</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="featured-box nobg border-only">
                    <i class="fa fa-bookmark"></i>
                    <h4>June 12</h4>
                    <h4><strong>1 kings 17:7-12</strong></h4>
                    <p>“Help along the journey”</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="featured-box nobg border-only">
                    <i class="fa fa-bookmark"></i>
                    <h4>June 19</h4>
                    <h4><strong>1 Kings 17:12-16</strong></h4>
                    <p>“The Meal of Faith”</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="featured-box nobg border-only">
                    <i class="fa fa-bookmark"></i>
                    <h4>June 26</h4>
                    <h4><strong>II Kings 18:1-6</strong></h4>
                    <p>“The Love of God in Treacherous Times”</p>
                </div>
            </div>
        </div>

        <hr />
    </div>
            <div class="divider">
                <!-- divider -->
                <i class="fa fa-star"></i>
            </div>



            <!-- CALLOUT -->
            <div class="bs-callout text-center nomargin-bottom">
                <ul class="list-icon glyphicon-arrow-right">
                    <li>
                        Morning Worship 9:00am
                    </li>
                    <li>
                        Sunday School 10:00am
                    </li>
                    <li>
                        Worship 11:00am
                    </li>
                </ul>
            </div>
            <!-- /CALLOUT -->

</section>
