    <!-- PAGE TITLE -->
<header id="page-title">
    <!-- style="background-image:url('assets/images/demo/parallax_bg.jpg')" -->
    <!--
        Enable only if bright background image used
        <span class="overlay"></span>
    -->

    <div class="container">
        <h1>Youth Ministry</h1>
    </div>
</header>
			<!-- YOUTH SLIDER -->
<section class="container">
    <div class="row">
        <div class="col-md-6">
            <p></p>
            <h3 class="page-header nomargin-top">
                <strong class="styleColor">Praising God</strong>, Having Fun
            </h3>
            <p>Interested in joining the youth group. Just show up for one of our many functions shown below.  Want to be included in our trips or 
            events call Brittne at <a href="/home/about">the chruch office</a>. </p>
            <p>The Moncks Corner UMC youth are active in the community as well as just hanging out and having fun.  MCUMC complies with the 
                <a href="http://www.umcsc.org/home/resources/safe-santuaries/safe-sanctuary-resources/" >Safe Sanctuary</a> 
            policies set forth by the state conference of the united methodist church <strong>iaculis ac massa</strong>.</p>
        </div>

        <div class="col-md-6">

            <!-- carousel -->
            <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                <div>
                    <img alt="" class="img-responsive" src="~/images/youth/youth2.jpg">
                </div>
                <div>
                    <img alt="" class="img-responsive" src="~/images/youth/youth3.jpg">
                </div>
                <div>
                    <img alt="" class="img-responsive" src="~/images/youth/youth4.jpg">
                </div>
            </div>
            <!-- /carousel -->

        </div>
    </div>
</section>
<!-- /YOUTH SLIDER -->

<!-- YOUTH EVENTS -->
<section class="container">
    <!-- CALLOUT -->
    <div class="bs-callout text-center nomargin-bottom">
        <h3>Be part of the <strong>Youth Team</strong>. Join us at one of these regular outtings! </h3>
    </div>
    <!-- /CALLOUT -->
    <div class="block-separator clearfix"></div>
    
    <!-- EVENT 1 -->
    <!-- all listings block -->
    <div class="row listing-container">
        <div class="col-sm-12">
            <!-- event listing -->
            <div class="listing-content">
                <div class="col-sm-2 col-md-2">
                    <!-- event date -->
                    <div class="youth-event-list-item-date">
                        <span class="event-date">
                            <span class="event-day">SUN</span>
                            <span class="event-time">10 AM</span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3 col-md-4">
                    <div class="youth-event-list-item-info">
                        <h4 class="event-title">Sunday School</h4>
                    </div>
                </div>
                <!-- listing summary content -->
                <div class="col-sm-6">
                    <div class="youth-event-list-item-info">
                        <span class="meta-data"><i class="fa fa-map-marker"></i> <span>Youth Room, Education Bldg.</span></span>
                        <span class="event-note"></span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-separator clearfix"></div>
    
    <!-- EVENT 2 -->
    <!-- all listings block -->
    <div class="row listing-container">
        <div class="col-sm-12">
            <!-- event listing -->
            <div class="listing-content">
                <div class="col-sm-2 col-md-2">
                    <!-- event date -->
                    <div class="youth-event-list-item-date">
                        <span class="event-date">
                            <span class="event-day">SUN</span>
                            <span class="event-time">4 PM</span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3 col-md-4">
                    <div class="youth-event-list-item-info">
                        <h4 class="event-title">Frisbee League</h4>
                    </div>
                </div>
                <!-- listing summary content -->
                <div class="col-sm-6">
                    <div class="youth-event-list-item-info">
                        <span class="meta-data"><i class="fa fa-map-marker"></i> <span>The Field</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-separator clearfix"></div>

    
    <!-- EVENT 3 -->
    <!-- all listings block -->
    <div class="row listing-container">
        <div class="col-sm-12">
            <!-- event listing -->
            <div class="listing-content">
                <div class="col-sm-2 col-md-2">
                    <!-- event date -->
                    <div class="youth-event-list-item-date">
                        <span class="event-date">
                            <span class="event-day">TUE</span>
                            <span class="event-time">3 PM</span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3 col-md-4">
                    <div class="youth-event-list-item-info">
                        <h4 class="event-title">Shake Break</h4>
                    </div>
                </div>
                <!-- listing summary content -->
                <div class="col-sm-6">
                    <div class="youth-event-list-item-info">
                        <span class="meta-data"><i class="fa fa-map-marker"></i> <span>Yogurt Shop</span></span>
                        <span class="event-note">(Middle School Students)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-separator clearfix"></div>

    <!-- EVENT 4 -->
    <!-- all listings block -->
    <div class="row listing-container">
        <div class="col-sm-12">
            <!-- event listing -->
            <div class="listing-content">
                <div class="col-sm-2 col-md-2">
                    <!-- event date -->
                    <div class="youth-event-list-item-date">
                        <span class="event-date">
                            <span class="event-day">TUE</span>
                            <span class="event-time">7 PM</span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3 col-md-4">
                    <div class="youth-event-list-item-info">
                        <h4 class="event-title">College Mix</h4>
                    </div>
                </div>
                <!-- listing summary content -->
                <div class="col-sm-6">
                    <div class="youth-event-list-item-info">
                        <span class="meta-data"><i class="fa fa-map-marker"></i> <span>Moss Grove</span></span>
                        <span class="event-note">(College Students)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-separator clearfix"></div>

    <!-- EVENT 5 -->
    <!-- all listings block -->
    <div class="row listing-container">
        <div class="col-sm-12">
            <!-- event listing -->
            <div class="listing-content">
                <div class="col-sm-2 col-md-2">
                    <!-- event date -->
                    <div class="youth-event-list-item-date">
                        <span class="event-date">
                            <span class="event-day">WED</span>
                            <span class="event-time">5:30 PM</span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3 col-md-4">
                    <div class="youth-event-list-item-info">
                        <h4 class="event-title">N.O.W.</h4>
                    </div>
                </div>
                <!-- listing summary content -->
                <div class="col-sm-6">
                    <div class="youth-event-list-item-info">
                        <span class="meta-data"><i class="fa fa-map-marker"></i> <span>Fellowship Hall</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-separator clearfix"></div>
    
    <!-- EVENT 6 -->
    <!-- all listings block -->
    <div class="row listing-container">
        <div class="col-sm-12">
            <!-- event listing -->
            <div class="listing-content">
                <div class="col-sm-2 col-md-2">
                    <!-- event date -->
                    <div class="youth-event-list-item-date">
                        <span class="event-date">
                            <span class="event-day">THU</span>
                            <span class="event-time">7 PM</span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3 col-md-4">
                    <div class="youth-event-list-item-info">
                        <h4 class="event-title">Refuel</h4>
                    </div>
                </div>
                <!-- listing summary content -->
                <div class="col-sm-6">
                    <div class="youth-event-list-item-info">
                        <span class="meta-data"><i class="fa fa-map-marker"></i> <span>Moss Grove</span></span>
                        <span class="event-note">(High School Students)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-separator clearfix"></div>
    <!-- CALLOUT -->
    <div class="bs-callout text-center nomargin-bottom">
        
    </div>

</section>
<!-- /YOUTH EVENTS -->